
.hello {
    color: red;
}

.button-1 {
    border: 0px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.sidebar {
    padding: 10px;
    box-shadow: -10px 0px 10px 1px #aaaaaa;
    width: 320px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 400vh;
    background-color: white;
    padding-bottom: 48px;
    padding-left: 62px;
    padding-right: 36px;
    padding-top: 48px;
}

.rule-button-container {
    position: relative;
    overflow: visible;
    float: left;
    display: inline;
    width: 0px;
    height: 0px;
    z-index: 1;
}

.rule-button {
    position: absolute !important;
    display: block !important;
    visibility: visible !important;
    width: 35px !important;
    height: 35px !important;
    text-align: center !important;
    font-size: 11px !important;
    line-height: 1 !important;
    user-select: none !important;
    background: green;
    top: -60px;
    border-radius: 50%;
}
