
.hello {
    color: red;
}

#closeButton {
    border: 0px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#closeButton button {
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: normal;
}

.sidebar {
    box-shadow: -10px 0px 10px 1px #aaaaaa;
    width: 220px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 400vh;
    background-color: white;
    padding: 48px 36px 49px 52px;
    z-index: 9999;
}

.rule-button {
    background: transparent;
    outline: 1px solid transparent;
    white-space: nowrap;
    align-items: center;
    -webkit-appearance: none;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: #1e1e1e;
    cursor: pointer;
    display: inline-flex;
    font-size: 13px;
    font-weight: 400;
    height: 36px;
    margin: 0;
    padding: 6px 12px;
    text-decoration: none;
    transition: box-shadow .1s linear;
}

.accessibility-container {
    font-size: 1rem;
}

.accessibility-container label {
    cursor: unset !important;
}

.accessibility-container .button-container-rule {
    align-items: center;
    text-align: center;
}

.accessibility-container button {
    background: #006ba1;
    color: #fff;
    padding: 0.5rem;
    min-width: 29%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border: 1px solid;
    cursor: pointer;
}

.accessibility-container input {
    width: 100%;
    margin-top: 10px;
}


.rule-button img {
    width: 45px;
}

.button-container {
    margin-top: 15px;
}

.d-block {
    display: block !important;
}

.button-container button {
    margin-left: 13px;
    margin-right: 7px;
}

.errDescDiv {
    margin-bottom: 20px;
}

.a11y-highlighter {
    background-color:  #a36a0052;
    border: 1px solid red;
    position: absolute;
    z-index: 9998;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
